{% extends "base.html" %}

{% block content %}
<div class="grid">
   <article><a href="decode/">Decode a PSSH box</a></article>
   <article><a href="generate/">Generate a Widevine PSSH</a></article>
   <article><a href="fetch-init/">Fetch an initialization segment and decode any PSSH data</a></article>
</div>

<p>These tools are all implemented in WebAssembly and run directly in your browser. There is no
server backend; the tools will run offline if you've loaded the page. All the content is hosted on
<a href="https://pages.github.com/">GitHub pages</a>.

{% endblock content %}
