{% extends "base.html" %}

{% block content %}
<div class="grid">
   <article>
     <h3><a href="decode/">Decode a PSSH box</a></h3>

     <p>This tool decodes a PSSH box or sequence of PSSH boxes that are used to initialize DRM systems
     for streaming media. You will typically find a PSSH box in a <tt>&lt;cenc:pssh&gt;</tt> element in a
     DASH MPD manifest, or in the initialization segment of a media stream (an fMP4 fragment), or 
     in an <tt>EXT-X-SESSION-KEY</tt> field of an m3u8 playlist.
   </article>

   <article>
     <h3><a href="generate/">Generate a Widevine PSSH</a></h3>

     <p>Given a Key ID, this tool generates a Widevine PSSH box and displays it in Base 64 format.
   </article>

   <article>
     <h3><a href="fetch-init/">Fetch an initialization segment</a></h3>

     <p>This tool fetches an initialization segment from a web server (an MP4 fragment), extracts
     any DRM initialization data (PSSH boxes) and decodes and prints them.
   </article>

   <article>
     <h3><a href="get-license/">Obtain decryption keys</a></h3>

     <p>This tool makes a license request to a Widevine licensing server to obtain decryption keys.
     You will need a <abbr title="Content Decryption Module">CDM</abbr> device in WVD format.
   </article>

   <article>
     <h3><a href="convert/">Convert CDM</a></h3>

     <p>This tool converts Widevine CDMs between the client ID and private key blob format and the
     single-file “WVD” format.
   </article>

</div>

<p>These tools are all implemented in WebAssembly and run directly in your browser. There is no
server backend; the tools will run offline if you've loaded the page. All the content is kindly hosted by
<a href="https://pages.github.com/">GitHub pages</a> (please note their
<a href="https://docs.github.com/en/site-policy/privacy-policies/github-privacy-statement">privacy
policy</a>).

{% endblock content %}
