body {
    font-size:16px;
}

footer {
    font-size: small;
    display: flex;
    justify-content: space-between;
}

.output {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 1em;
    border-style: dotted;
    visibility: hidden;
}

.failed {
    background-color: rgba(255, 10, 10, 0.2);
}

.failed::before {
    content: url("../img/error.svg");
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 1.7rem;
    position: relative;
    top: 1ex;
}

table.wrapping {
    table-layout: fixed;
    width: 100%
}

table.wrapping td {
    word-wrap: break-word;
    white-space: pre-wrap; 
}


.flourish {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.5;
    margin-top: 3ex;
    margin-bottom: 3ex;
}

.flourish::before {
    content: url("../img/ornament.svg");
    display: inline-block;
    width: 40%;
    max-width: 500px;
    margin-left: 20%;
}
